@media screen and (max-width:1025px){
    #logo a{
        font-size: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    #project a{
        font-size: 16px;
    }
    .fluid-gradient-heading.fluid-gradient-heading--hero.cc-en{
        font-size: 60px;
    }
    #more {
        margin: 50px auto;
    }
    .heading h1{
        font-size: 20px;
    }
    .heading h2{
        font-size: 40px;
    }
    .blok{
        height: 350px;
    }
    .blok h1{
        font-size: 22px;
    }
    .blok p{
        font-size: 18px;
    }
    .blok-2{
        height: 320px;
    }
    .blok-2 h1{
        font-size: 20px;
    }
    .code{
        font-size: 11px;
        margin: 10px ;
    }
    .skill{
        height: 150px;
    }
    .m-left{
        padding-left: 10px;
    }
    .author h1{
        font-size: 22px;
    }
    .author p{
        font-size: 18px;
    }
    .futer p{
        margin-top: 5px;
}
@media screen and (max-width:769px){
    #logo a{
        font-size: 18px;
    }
    nav ul li a{
        font-size: 15px;
    }
    #project a{
        font-size: 15px;
    }
    .fluid-gradient-heading.fluid-gradient-heading--hero.cc-en{
        font-size: 40px;
    }
    #more h2{
        font-size: 12px;
    }
    .heading h1{
        font-size: 18px;
    }
    .heading h2{
        font-size: 30px;
    }
    .blok{
        height: 300px;
    }
    .blok h1{
        font-size: 18px;
        margin:15px;
    }
    .blok p{
        font-size: 15px;
    }
    .work{
        justify-content: space-around;
        margin: 20px 0px;
    }
    .blok-2{
        width: 48%;
        height: 250px;
        margin-bottom: 20px;
    }
    .blok-2 img{
        width: 70%;
    }
    .blok-2 h1{
        font-size: 18px;
        margin: 15px;
    }
    .code{
        font-size: 11px;
    }
    .skill{
        height: 170px;
        width: 26%;
    }
    .h1 h1{
        font-size: 20px;
    }
    .pixel{
        width: 80%;
        background-color: #ffffff;
        height: 150px;
        border-radius: 20px;
        box-sizing: border-box;
    }
    .white{
        margin-top: -10px;
    }
    .projects{
        margin: 20px 0px;
    }
    .project{
        margin: 10px 0px;
        height: 240px;
    }
    .project img{
        height: 240px;
    }
    .first-child{
        margin-top: 60px;
    }
    .author{
        height: 220px;
    }
    .author h1{
        font-size: 18px;
        margin:15px;
    }
    .author p{
        font-size: 15px;
    }
    .blok-5{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
}
@media screen and (max-width:426px){
    .center-block{
        width: 90%;
    }
    nav ul li:first-child{
        margin-left: 0px;
    }
    nav ul li a {
        font-size: 15px;
    }
    .intro{
        margin-top: 40px;
    }
    #project a{
        font-size: 15px;
    }
    #more{
        width: 20%;
    }
    .heading h1{
        font-size: 15px;
    }
    .heading h2{
        font-size: 22px;
    }
    .blok{
        width: 85%;
        margin-bottom: 20px;
        height: 260px;
    }
    .blok-2{
        width: 85%;
        height: 250px;
    }
    .pixel{
        width: 85%;
    }
    .work{
        margin: 0px;
    }
    .first{
        margin-top: 40px;
    }
    .blok-4{
        justify-content: space-around;
    }
    .skill{
        width: 35%;
        height: 140px;
    }
    .white{
        margin-top: 0px;
    }
    .projects{
        margin:0px;
    }
    .project{
        width: 85%;
        margin: 20px auto 0px auto;
        height: 230px;
    }
    .project img{
        height: 230px;
    }
    .author{
        width: 75%;
        height: 200px;
        margin-bottom: 20px;
    }
    .author h1{
        font-size: 15px;
    }
    .author p{
        font-size: 13px;
    }
    .skill h3{
        font-size: 13px;
    }
    .contact h3{
        font-size: 20px;
    }
    label {
        font-size: 16px;
    }
    form{
        font-size: 14px;
    }
    button{
        font-size: 16px;
        height: 30px;
        width: 25%;
    }
    .futer{
        width: 80%;
        margin: 10px auto;
        justify-content: space space-around;
    }
    .futer p, .futer h3{
        font-size: 15px;
    }
    .futer i, .futer a{
        font-size: 12px;
    }
}
@media screen and (max-width:376px){
    nav ul li a {
        font-size: 13px;
    }
    #project a{
        font-size: 13px;
    }
    .fluid-gradient-heading.fluid-gradient-heading--hero.cc-en {
        font-size: 35px;
    }
    .blok p{
        font-size: 14px;
    }
    .blok h1{
        font-size: 17px;
    }
    .author{
        height: 250px;
    }
    form{
        font-size: 12px;
    }
    label {
        font-size: 14px;
    }
}
@media screen and (max-width:321px){
    nav ul li{
        margin: 15px 5px;
    }
    nav ul li a {
        font-size: 12px;
    }
    #project a{
        font-size: 12px;
    }
    #more{
        width: 25%;
    }
    .blok p{
        font-size: 13px;
    }
    .blok h1{
        font-size: 16px;
    }
    .skill{
        width: 55%;
    }
    .project{
        height: 170px;
    }
    .project img{
        height: 170px;
    }
    .author p{
        font-size: 13px;
    }
    .author h1{
        font-size: 16px;
    }
    label {
        font-size: 13px;
    }
    input[type="text" i]{
        width: 60%;
    }
    input[type="email" i]{
        width: 60%;
    }
    button{
        font-size: 12px;
        height: 25px;
        width: 20%;
    }
}
